.app-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container{
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  }
.feedback-container{
  width: 500px;
  height: 500px;
  /* margin: 2px; */
}
  .feedback-card{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 4px ;
  }